.about-app {
  position: relative;
  z-index: 5;
  padding: 25px;
  padding-bottom: 40px;
  background-color: @darkblue;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 39% top 23%, center top -13%;
  background-size: 192px auto, 100% auto;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png"), url("../img/globe-back-mobile@2x.jpg");
  }
}

.about-app__wrapper {
  padding-bottom: 30px;
}

.about-app__review {
  padding: 0 25px;
}

.about-app__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: white;
  margin: 15px 0 310px;
}

.about-app__review-text {
  margin: 0 0 20px;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.about-app__review-author {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.about-app__instruction {
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .about-app {
    padding: 40px;
    background: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-size: 372px auto, 1479px auto;
    background-color: @darkblue;
    background-repeat: no-repeat, no-repeat;
    background-position: right 28% top 47%, center bottom 41%;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png"), url("../img/globe-back-tablet@2x.jpg");
    }
  }

  .about-app__title {
    margin: 0 0 90px;
    padding: 0 35px;
    font-size: 60px;
    line-height: 70px;
  }

  .about-app__review {
    padding: 0 30px;
    margin-bottom: 180px;
  }

  .about-app__review-text {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 33px;
  }

  .about-app__review-author {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: @desktop-width) {
  .about-app {
    padding: 60px;
    padding-top: 110px;
    background: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-size: 431px auto, 1800px auto;
    background-color: @blue-back;
    background-repeat: no-repeat, no-repeat;
    background-position: right 40% bottom, center bottom;
    border-radius: 0 0 60px 60px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png"), url("../img/globe-back-desktop@2x.jpg");
    }
  }

  .about-app__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .about-app__title {
    flex: 0 1 40%;
    margin: 0;
    padding-left: 70px;
    text-align: left;
  }

  .about-app__review {
    padding: 10px 0 0 40px;
    flex: 0 1 25%;
    margin: 0;
  }

  .about-app__instruction {
    margin-bottom: 60px;
  }
}
