.add-profile {
  background: @grey-back;
}

.add-profile__wrapper {
  padding: 49px;
}

.add-profile__title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: @orange;
}

.add-profile__tariffs-list {
  list-style: none;
  padding: 0;
}

.add-profile__tariffs-list {

}

.add-profile__tariff {

}

.add-profile__tariff-name {
  margin: 0;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.add-profile__tariff-number {
  color: white;
  padding: 10px;
  &--one {
    background: @orange;
  }
  &--two {
    background: #ffbd30;
  }
  &--three {
    background: @yellow;
  }
}

.add-profile__business-tariff {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: @blue-back;
}
