.instruction {

}

.instruction__step {
  &--one {
    background: @orange;
  }

  &--two {
    background: #ffa530;
  }

  &--three {
    background: #ffbd30;
  }
  &--four {
    background: @yellow;
  }
}

.instruction__step {
  padding: 20px 25px;
  &-name {
    margin: 0;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    color: @blue-back;
  }
  &-number {
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    color: white;
  }
}
