.page-header {
  padding: 25px;
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: @blue-back;

  &--style {
    border-radius: 0 0 20px 20px;
  }
}

.page-header__title {
  position: relative;
  margin: 56px 0 0;
  flex-basis: 100%;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: white;
}

.page-header__title::after {
  content: "";
  position: absolute;
  width: 173px;
  height: 5px;
  left: 0;
  bottom: -10px;
  background: @orange;
  border-radius: 2.4px;
}

.page-header__logo-image {
  vertical-align: top;
}

.page-header__return-home {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #161c35;

    &--style {
      border-radius: 0 0 45px 45px;
      padding-bottom: 60px;
    }

    &__logo-image {
      width: 166px;
      height: 42px;
    }
  }

  .page-header__wrapper {
    display: flex;
    width: 100%;
    padding: 0 15px;
    align-items: baseline;
  }

  .page-header__title {
    margin-top: 130px;
    font-size: 60px;
    line-height: 70px;
  }

  .page-header__title::after {
    width: 287px;
    height: 8px;
    left: 0;
    bottom: -64px;
    border-radius: 4px;
  }

  .page-header__return-home {
    display: block;
    min-width: 175px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 48px 60px 20px;

    &__logo-image {
      width: 200px;
      height: 52px;
    }
  }

  .page-header__wrapper {
    padding: 0 69px;
  }

  .page-header__title::after {
    bottom: -68px;
  }
}
