.page-footer {
  display: flex;
  flex-direction: column;
  padding: 30px 25px 14px;
  background: white;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__social {

}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-link {
  }
  &-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: @grey;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer__copyright-text {
    margin-right: 24px;
    font-size: 20px;
    line-height: 24px
  }
}
