.page-header {
  padding: 25px;
  padding-bottom: 8px;
  background-color: @blue-back;

  &--style {
    position: relative;
    z-index: 5;
    border-radius: 0 0 20px 20px;
    padding-top: 19px;
  }
}

.page-header--fixed {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background: white;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 270px;
  margin: auto;
}

.page-header__logo {
  align-self: center;
  margin-right: auto;
}

.page-header__title {
  position: relative;
  margin: 0;
  flex-basis: 100%;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: white;
}

.page-header__title::after {
  content: "";
  position: absolute;
  width: 173px;
  height: 5px;
  left: 0;
  bottom: -10px;
  background: @orange;
  border-radius: 2.4px;
}

.page-header__header {
  margin-top: 56px;
}

.page-header__logo-image {
  vertical-align: top;
}

.page-header__return-home {
  display: none;
}

.page-header__user-list {
  margin-left: auto;
}


@media (min-width: @tablet-width) {
  .page-header {
    padding: 40px;
    flex-direction: row;
    align-items: center;
    background: #182044;

    &--style {
      border-radius: 0 0 60px 60px;
      padding-bottom: 60px;
    }

    &__logo-image {
      width: 164px;
      height: auto;
    }
  }

  .page-header__wrapper {
    display: flex;
    width: 688px;
    padding: 0;
  }

  .page-header__title {
    font-size: 60px;
    line-height: 70px;
  }

  .page-header__header {
    margin-top: 140px;
    padding: 0 35px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
  }

  .page-header__icon-return {
    fill: #ffffff;
  }

  .page-header__title::after {
    width: 287px;
    height: 8px;
    left: 0;
    bottom: -64px;
    border-radius: 4px;
  }

  .page-header__return-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 175px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 50px 60px 0;
    background-color: @blue-back;

    &__logo {
      margin-right: 0;
    }

    &__logo-image {
      width: 200px;
      height: 52px;
    }
  }

  .page-header__title::after {
    bottom: -64px;
  }

  .page-header__header {
    margin-top: 120px;
    padding: 0 65px 60px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
  }

  .page-header__wrapper {
    width: 1320px;
    flex-direction: row;
  }
}
