.route {
  padding: 30px 0;
  background: @grey-back;
}

.route__wrapper {
  padding: 49px;
}

.route__title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: @orange;
}

.route__text {
  margin: 0;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  color: @grey;
}

.route__list {
  list-style: none;
  padding: 0 25px;
}

.route__card {
  &--thiland {
    background:url("../img/thailand-mobile@1x.jpg");
  }
}

.route__link {
  display: block;
  text-decoration: none;
  background: white;
}

.route__country {

}

.route__name-country {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @blue-back;
}

.route__slogan-country {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(@grey, 0.3);
}

.route__icon-users {

}

.route__number-users {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: rgba(@grey, 0.3);
}

.route__to-all {
  margin: 0 auto;
  width: 270px;
  padding: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @blue-back;
  background: @yellow;
}
