.service {
  padding: 49px;
  background: no-repeat bottom url("../img/about-mobile@1x.png");
}

.service__title {
  margin: 20px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.service__text {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.service__advice {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: white;
}
