.social {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 40px;
  text-align: center;
}

.social__list {
  list-style: none;
  padding: 0 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  padding: 15px;
}
