.user-list {
  padding: 0;
  list-style: none;

  &__phone,
  &__email {
    display: none;
  }
}

.user-list__login {
  display: block;
  padding: 10px 35px;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: @blue-back;
  background: @yellow;
}

@media (min-width: @tablet-width) {
  .user-list {
    align-items: center;
  }

  .user-list__login {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    &__phone,
    &__email {
      display: block;
    }
  }
}
