.user {
  padding: 20px;
  margin-bottom: 10px;
  background: white;
}

.user__link {
  display: block;
  text-decoration: none;
}

.user__wrapper {

}

.user__contact {
  display: block;
  text-align: center;
  padding: 10px 35px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: bold;
  color: #192144;
  background: #ffd74b;

}

.user__foto {

}

.user__level {
  color: white;
}

.user__level-number {

}

.user__visit-contries {

}

.user__flags-list {
  list-style: none;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.user__flag {

}

.user__name {
  margin: 16px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @blue-text;
  text-align: center;
}

.user__hashtags {
  margin: 0 0 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @grey;
  text-align: center;
}

.user__vehicle {

}

.user__vehicle-list {
  list-style: none;
  padding: 0px 48px;
  display: flex;
  justify-content: space-between;
}

.user__vehicle-icon {

}

.users-list__vehicle-icon--active {

}

.user__vehicle-icon--active {

}

@media (min-width: @tablet-width)  {

}
