.user-list {
  padding: 0;
  list-style: none;
}

.user-list__item {

}

.user-list__phone {

}

.user-list__email {

}

.user-list__login {
  display: inline-flex;
  padding: 10px 35px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: bold;
  color: @blue-back;
  background: @yellow;
}

@media (min-width: @tablet-width) {
  .user-list {
    align-items: center;
    &__phone, &__email {
      display: none;
    }
  }

  .user-list__login {
    font-size: 20px;
    line-height: 30px;
  }
}
