.user {
  margin-bottom: 10px;
  background: white;
}

.user__contact {
  display: block;
  text-align: center;
  padding: 10px 35px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: bold;
  color: #192144;
  background: #ffd74b;

}

.user__foto {

}

.user__level {
  color: white;
}

.user__level-number {

}

.user__visit-contries {

}

.user__flags-list {
    list-style: none;
    padding: 0;
}

.user__flag {

}

.user__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @blue-text;
}

.user__hashtags {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @grey;
}

.user__vehicle {

}

.user__vehicle-list {
  list-style: none;
  padding: 0;
}

.user__vehicle-icon {

}

.users-list__vehicle-icon--active {

}

.user__vehicle-icon--active {

}
