.user {
  margin-bottom: 10px;
  background: white;
  position: relative;
  min-height: 427px;
  border-radius: 10px;
}

.user__link {
  display: block;
  text-decoration: none;
}

.user__wrapper {
  padding: 0 20px 17px;
  text-align: center;
}

.user-card__foto {
  vertical-align: top;
}

.user__contact {
  display: block;
  text-align: center;
  padding: 10px 35px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: bold;
  color: #192144;
  background: #ffd74b;
}

.user__foto {
  width: 100%;
  vertical-align: top;
  border-radius: 10px 10px 0 0;
}

.user__level {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 8px;
  border: 3px solid #ff8d30;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: white;
  background: black;
}

.user__level-number {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.user__visit-contries {
  margin-top: -12px;
  margin-bottom: 15px;
}

.user__flag--sri-lanka {
  width: 35px;
  height: 24px;
  background-image: url("../img/flag-sri-lanka.svg");
  background-size: 35px 24px;
  background-repeat: no-repeat;
  // background-position: right 0 top 40px;
}

.user__flag--thailand {
  width: 35px;
  height: 24px;
  background-image: url("../img/flag-thailand.svg");
  background-size: 35px 24px;
  background-repeat: no-repeat;
}

.user__flag--seychelles {
  width: 35px;
  height: 24px;
  background-image: url("../img/flag-seychelles.svg");
  background-size: 35px 24px;
  background-repeat: no-repeat;
}

.user__flag--belgium {
  width: 35px;
  height: 24px;
  background-image: url("../img/flag-belgium.svg");
  background-size: 35px 24px;
  background-repeat: no-repeat;
}

.user__flag--czech {
  width: 35px;
  height: 24px;
  background-image: url("../img/flag-czech.svg");
  background-size: 35px 24px;
  background-repeat: no-repeat;
}

.user__flag {
  margin-right: 19px;

  &:last-child {
    margin: 0;
  }
}

.user__flags-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.user__status {
  position: absolute;
  display: inline-block;
  top: 6px;
  left: -15px;
  width: 5px;
  height: 5px;
  background: #f97676;
  border-radius: 50%;
}

.user__status--active {
  background: #81e31e;
}

.user__name {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @blue-text;
  text-align: center;
}

.user__hashtags {
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @grey;
  text-align: center;
}

.user__vehicle-list {
  list-style: none;
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .user {
    min-height: 480px;
    border-radius: 20px;
  }

  .user__name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .user__hashtags {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .user__visit-contries {
    margin-bottom: 18px;
  }
}

@media (min-width: @desktop-width) {
  .user {
    min-height: 485px;
  }

  .user__name {
    margin-bottom: 20px;
  }

  .user__hashtags {
    margin-bottom: 25px;
  }

  .user__visit-contries {
    margin-bottom: 20px;
  }
}
